ion-header {
  height: 120px;
  width: 100%;

  ion-toolbar {
    display: inline-flex;
    height: 120px;

    ion-title {
      font-family: monospace;
      color: #fff;
      margin: 10px 0;

      @media screen and (max-width: 767px) {
        span {
          font-size: 1.5em;
        }
      }
      @media screen and (min-width: 500px) {
        span {
          font-size: 2em;
        }
      }
    }
  }
}
@font-face {
  font-family: pixel-craft;
  src: url('../fonts/pixel-craft.ttf');
}

ion-content {
  margin: 0;
  padding: 0;

  [game] {
    position: relative;
    min-height: 500px;
    min-width: 250px;
    border-radius: 20px;
    margin: 15px;
    background-color: #fff;
    overflow: hidden;

    .bloco {
      position: absolute;
      width: 60px;
      left: calc(50% - 30px);
      bottom: 50%;
    }
  }
}
